@model UsersViewModel

<div class="col-sm-10 offset-1">
    <h2>Select the user to chat!</h2>

    <div class="users-table">
        @foreach(User user in Model.Users)
        {
            <div class="users-row">
                <a asp-controller="Chat" asp-action="Index">@user.Name</a>
            </div>
        }
    </div>

</div>