@model ChatViewModel;

<h2>Chatting with @Model.OtherUser</h2>

<div id="chat-view">
    <div class="chat-message row">
        <p class="col-md-4 offset-8 col-xs-12">Holiss</p>
    </div>
    <div class="chat-message row">
        <p class="col-md-4 col-xs-12">Holiss</p>
    </div>
</div>